@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

/* CUSTOM-SCROLLBAR-STYLE */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: auto;
  scroll-margin: 100px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(155, 136, 250);
}
::-webkit-scrollbar-thumb:hover {
  /* border-radius: 8px; */
  background-color: rgb(114, 85, 255);
}
